{# templates/partials/_product_card.html.twig #}
<div class="p-card">
  <div class="p-card__imgwrap">
    <img class="p-card__img"
         src="{{ asset(product.image ?? 'assets/img/placeholder.png') }}"
         alt="{{ product.name }}">
  </div>

  <div class="p-card__bottom">
    <div class="p-card__meta mb-2">
      <div class="p-card__row">
        <span class="p-card__label">Nom :</span>
        <span class="p-card__value" title="{{ product.name }}">{{ product.name }}</span>
      </div>
      <div class="p-card__row p-card__row--price">
        <span class="p-card__label">Prix :</span>
        <span class="p-card__value p-card__value--price">
          {{ product.price|number_format(2, ',', ' ') }} €
        </span>
      </div>
    </div>

    <a href="{{ path('product_show', { id: product.id }) }}"
       class="btn btn-primary btn-sm p-card__cta">VOIR</a>
  </div>
</div>