{# templates/partials/_product_card.html.twig #}
<div class="p-card">
  <div class="p-card__imgwrap">
    <img
      class="p-card__img"
      src="{{ asset(product.image) }}"
      alt="{{ product.name }}"
      loading="lazy"
    >
  </div>

  <h3 class="p-card__title">{{ product.name }}</h3>

  <div class="p-card__price">
    {{ product.price|number_format(2, ',', ' ') }} €
  </div>

  {% if show_button is not defined or show_button %}
    <div class="p-card__actions">
      <a href="{{ path('product_show', {id: product.id}) }}" class="btn btn-primary">Voir</a>
    </div>
  {% endif %}
</div>